@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #121212;
  --color-gray-900: #27272a;
  --color-gray-800: #3f3f46;
  --color-gray-700: #58585f;
  --color-gray-600: #71717a;
  --color-gray-500: #a1a1aa;
  --color-gray-400: #c4c4ca;
  --color-gray-300: #d6d6db;
  --color-gray-200: #e7e7ea;
  --color-gray-100: #f5f5f6;
  --color-white: #ffffff;
  --color-silver: #adb8bf;
  --color-dark-red: #aa2a16;
  --color-red: #eb131b;
  --color-light-red: #fc8d87;
  --color-xlight-red: #ffe7e5;
  --color-coral-red: #ef3841;
  --color-ruby-red: #d11242;
  --color-pink: #e470ab;
  --color-orange: #fc4c02;
  --color-light-orange: #ffa47d;
  --color-xlight-orange: #ffddc0;
  --color-burnt-orange: #e16710;
  --color-mustard-orange: #f99c24;
  --color-gold: #fdb913;
  --color-dark-yellow: #aa6408;
  --color-yellow: #ffd453;
  --color-light-yellow: #feecbe;
  --color-xlight-yellow: #fff8e6;
  --color-dark-green: #0a8217;
  --color-green: #58a738;
  --color-light-green: #a8dc9a;
  --color-xlight-green: #dff1e0;
  --color-dark-blue: #003078;
  --color-blue: #0072bc;
  --color-sky-blue: #9bd3f8;
  --color-light-blue: #ccebff;
  --color-xlight-blue: #e2eff8;
  --color-dark-purple: #4c2c92;
  --color-purple: #7c4ee3;
  --color-light-purple: #c6acff;
  --color-xlight-purple: #e6dbff;

  /* Text colors */
  --metro-text-color: var(--color-black);
  --secondary-text-color: var(--color-gray-700);

  /* Link colors */
  --link-color: var(--color-blue);
  --link-active-color: var(--color-black);
  --link-hover-color: var(--color-dark-blue);
  --link-visited-color: var(--color-dark-purple);

  /* Semantic/Status colors */
  --error-color: var(--color-dark-red);
  --error-light-color: var(--color-light-red);
  --error-xlight-color: var(--color-xlight-red);
  --success-color: var(--color-dark-green);
  --success-light-color: var(--color-light-green);
  --success-xlight-color: var(--color-xlight-green);
  --warning-dark-color: var(--color-dark-yellow);
  --warning-color: var(--color-yellow);
  --warning-xlight-color: var(--color-xlight-yellow);

  /* Active/Info colors */
  --highlight-color: var(--color-light-blue);
  --highlight-light-color: var(--color-sky-blue);

  /* Text highlights */
  --text-highlight-yellow: var(--color-light-yellow);
  --text-highlight-blue: var(--color-xlight-blue);

  /* Border colors */
  --border-dark-color: var(--color-gray-300);
  --border-light-color: var(--color-gray-200);
  --border-xlight-color: var(--color-gray-100);
  --border-black-color: var(--color-black);

  /* Background colors */
  --background-gray: var(--color-gray-100);
  --background-white: var(--color-white);

  /* Focus colors */
  --focus-color: var(--color-light-blue);

  /* Metro Line Colors */
  --a-line-color: var(--color-blue);
  --b-line-color: var(--color-red);
  --c-line-color: var(--color-green);
  --d-line-color: #a05da5;
  --e-line-color: var(--color-gold);
  --k-line-color: var(--color-pink);
  --g-line-color: var(--color-orange);
  --j-line-color: var(--color-silver);

  --bus-local-color: var(--color-burnt-orange);
  --bus-rapid-color: var(--color-ruby-red);
}
