---
import Layout from "../layouts/Layout.astro";

Astro.response.status = 404;
export const prerender = false;
---

<Layout title="404 - Page Not Found">
  <main class="flex flex-col items-center justify-center gap-4 py-24">
    <h1 class="text-3xl font-bold text-black">Page not found</h1>
    <a class="text-link" href="https://www.metro.net">Return to Metro.net</a>
  </main>
</Layout>
